{require_min_otp_vsn, "OTP18"}.

{erl_opts, [
	debug_info,
	compressed,
	report,
	warn_export_all,
	warn_export_vars,
	warn_shadow_vars,
	warn_unused_function,
	warn_deprecated_function,
	warn_obsolete_guard,
	warn_unused_import
]}.

{xref_checks, [
	fail_on_warning,
	undefined_function_calls
]}.

{deps, [
	{gen_tcp_server, ".*", {git, "https://github.com/lasaris/gen_tcp_server.git", "master"}}
]}.

{validate_app_modules, true}.